.slick-initialized .slick-slide {
    width: 280px !important;
    height: 284px !important;
    margin: 0 10px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    z-index: 2;
}